spring:
  application:
    name: products

  datasource:
    url: jdbc:h2:men:productsdb
    driver-class-name: org.h2.Driver
    username: admin
    password: admin

  h2:
    console:
      enable: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true